@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "ysbth";
  src: url("/fonts/ysbth.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "wzsf";
  src: url("/fonts/wzsf.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "zzt";
  src: url("/fonts/zzt.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "muyaoruanbi";
  src: url("/fonts/muyaoruanbi.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "qingsong1";
  src: url("/fonts/qingsong1.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "qingsong2";
  src: url("/fonts/qingsong2.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "zkkl";
  src: url("/fonts/zkkl.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "zkwy";
  src: url("/fonts/zkwy.ttf") format("truetype");
  font-weight: 100 900; /* 可变字体的范围，表示 100 到 900 的字重 */
}

@font-face {
  font-family: "xynt";
  src: url("/fonts/xynt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.noto_sans_sc {
  font-family: "NotoSansSC";
}

.ysbth {
  font-family: "ysbth";
}

.wzsf {
  font-family: "wzsf";
}

.zzt {
  font-family: "zzt";
}

.muyaoruanbi {
  font-family: "muyaoruanbi";
}

.qingsong1 {
  font-family: "qingsong1";
}

.qingsong2 {
  font-family: "qingsong2";
}

.zkkl {
  font-family: "zkkl";
}

.xynt {
  font-family: "xynt";
}

body {
  font-family: "Noto Sans SC", "PingFang SC", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
}

body,
#app {
  min-height: 100vh;
  background-color: #f5f5f5;
}
